# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
/os-web/os-web.iml
/os-common/os-common.iml
/os-urf/os-urf.iml
/os-authorization/os-authorization.iml
/**/target
out
gen
